<div class=" text-center py-4">
  <h2 class="fw-bold" style="font-size: 2em;">Maintenance History Register</h2>
</div>
<div class="row mt-5">
  <div class="col-6">
    <app-maintenanceHistory-form></app-maintenanceHistory-form>
  </div>
  <div class="col-6">
    <div *ngIf="maintenanceHistoryService.loading" class="text-center mt-3" style="height: 300px; display: flex; flex-direction: column; align-items: center; justify-content: center;">
      <div class="spinner-border" role="status" style="width: 4rem; height: 4rem;">
        <span class="visually-hidden">Loading...</span>
      </div>
      <p class="mt-2" style="font-size: 2em; color: black;">Loading maintenance history...</p>
    </div>
    <ul *ngIf="!maintenanceHistoryService.loading && maintenanceHistoryService.list.length > 0" class="list-group">
      <li class="list-group-item d-flex justify-content-between align-items-start mb-2 border px-4 py-3 rounded-3"
        *ngFor="let mhd of maintenanceHistoryService.list">

        <div class="flex-grow-1 mouse-hover" (click)="populateForm(mhd)">
          <div class="fw-bold">{{ getVehicleModel(mhd.vehicleId) }}</div>
          <div>
            <span class="text-muted">Service Type:</span> {{ mhd.serviceType }}
          </div>
          <div>
            <span class="text-muted">Maintenance Date:</span> {{ mhd.maintenanceDate | date: 'dd/MM/yyyy' }}
          </div>
          <div>
            <span class="text-muted">Cost:</span> {{ mhd.cost | currency:'USD':'symbol':'1.2-2' }}
          </div>
        </div>
        <span class="text-secondary">
          <i class="fa-solid fa-trash fa-lg mouse-hover"
          (click)="onDelete(mhd.id)"></i>
        </span>
      </li>
    </ul>
    <div *ngIf="!maintenanceHistoryService.loading && maintenanceHistoryService.list.length == 0" class="text-center mt-3" style="height: 300px; display: flex; flex-direction: column; align-items: center; justify-content: center;">
      <h3 class="alert-info">
        <i class="fa-solid fa-exclamation-triangle" style="font-size: 2.5em;"></i>
        <br>
        <span style="margin-left: 10px;" style="font-size: 1.2em;">No Maintenance registered.</span>
      </h3>
    </div>
  </div>
</div>
