<header style="background-color: #333; color: white; text-align: center; padding: 1em;">
  <h1>Vehicle Fleet</h1>
  <p>Your Vehicle Fleet Management Platform</p>
</header>

<section style="padding: 2em;">
  <h2>Overview:</h2>
  <p>VehicleFleet is a comprehensive platform designed to streamline the management of your vehicle fleet.
    This project offers robust features for tracking and organizing crucial information related to vehicles, insurance, and owners.
    With a user-friendly interface, VehicleFleet simplifies tasks such as adding new vehicles, updating insurance details, and ensuring compliance with essential requirements.</p>
</section>

<section style="padding: 2em;">
  <h2>Key Features:</h2>
  <ul>
    <li><strong>Feature 1 - Efficient Vehicle Management:</strong> - This feature enables effective fleet management,
      including crucial details such as make, model, and owner information. Simplify the addition and updating of
      vehicles, making the process intuitive and swift.</li>
    <li><strong>Feature 2 - Detailed Insurance Tracking:</strong> - Enhance the user experience with a robust insurance
      tracking system. This feature allows tracking insurance details, ensuring timely renewals, and providing a
      comprehensive view of coverage for more informed management.</li>
    <li><strong>Feature 3 - Intuitive Forms and Custom Error Messages:</strong> - Standing out for user-friendliness,
      intuitive forms streamline data input. Additionally, custom error messages offer immediate feedback, especially
      regarding validations, such as ensuring the start date is not greater than the end date.</li>
  </ul>
</section>

<section style="padding: 2em; margin-bottom: 60px;">
  <h2>How VehicleFleet Works:</h2>
  <ol>
    <li><strong>Explore:</strong> Immerse yourself in a user-friendly interface designed to simplify navigation and
      elevate your overall experience.</li>
    <li><strong>Utilize Features:</strong> Harness the power of our distinctive features to accomplish specific goals
      and address unique challenges in fleet management.</li>
  </ol>
</section>

<footer style="background-color: #333; color: white; text-align: center; padding: 0.7em; position: fixed; bottom: 0; max-width: 100%; ">
  <p>Have questions or feedback? Reach out to our dedicated support team at <a href="mailto:support@example.com"
      style="color: white;">support@example.com</a>. We're here to assist you on your Vehicle Fleet journey!</p>
</footer>
